@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

a, .icons {
    color: black;
}

footer {
    font-size: 24px;
  }

img {
    border: 2px solid;
    border-color: black;
}

.name {
    font-size: 18px;
    font-weight: bold;
}

.navlink {
    font-size: 14px;
    font-weight: bold;
}

h1 {
    font-weight: bolder;
    font-size: 34px;
    letter-spacing: 2px;
}

body {
    background-image: url('./assets/memphis-mini.png');
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1px;
    color: black;
    font-size: 15px;
}