@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
a, .icons {
    color: black;
}

footer {
    font-size: 24px;
  }

img {
    border: 2px solid;
    border-color: black;
}

.name {
    font-size: 24px;
}

body {
    background-image: url('./assets/memphis-mini.png');
    font-family: 'Arimo', sans-serif;
}