

.aboutMe {
    border: 2px solid;
    border-color: black;
}

.name {
    font-size: 18px;
    font-weight: bold;
}

.navlink {
    font-size: 14px;
    font-weight: bold;
}

.card {
    display:inline-block;
    width: 18rem;
}

.card-img-top {
    max-height: 148px;
    min-height: 148px;
}

.cardTitle {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px;
}

.cardBody { 
    letter-spacing: 1px;
    color: #55595c;
    /* color: black;
    font-size: 15px;
    font-weight: 400; */
}

body {
    background-image: url('./assets/memphis-mini.png');
    letter-spacing: 1px;
    color: black;
}